.test-body{
    /*width:100%;*/
    height:100%;
    overflow-y: auto;
    /*position: relative;*/
    background-color: #f5f6f9;
    margin-bottom:22px;
    padding:15px 23px 22px 38px;
    position:relative;
}
.button-1{
    width:97px;
    height:35px;
    background: #4A90E2;
    border-radius: 3px;
    font-size: 14px;
    color: #FFFFFF;
    border:none;
    margin-right:13px;
}
.button-2{
    width:122px;
    height:35px;
    background: #F7F9FA;
    border: 1px solid #CDD6E0;
    border-radius: 3px;
    font-size: 14px;
    color: #4A90E2;
}
.content-2{
    margin-top:7px;
    /*width:1125px;*/
    /*height:260px;*/
    background: #FFFFFF;
    box-shadow: 0 2px 4px 0 rgba(222,222,222,0.50);
}
.formBox{
    padding:21px 38px 22px 25px;
}
.formDiv{
    margin-bottom:15px;
}
.formBox-1 {
    display: inline-block;
    width:72px;
    height:17px;
    font-size: 12px;
    color: #000000;
    margin-right:19px;
}
.formBox-2{
    width:152px;
    height:30px;
    background: #F8F8F9;
    border: 1px solid #EAEAEA;
    margin-right:16px;
    text-indent:1em;
}
.formBox-3{
    float:left;
    width:758px;
    height:75px;
    background: #F8F8F9;
    border: 1px solid #EAEAEA;
    text-indent:1em;
}
.formBox-4 {
    float:left;
    width:72px;
    height:17px;
    font-size: 12px;
    color: #000000;
    margin-right:19px;
}
.content-3{
    margin-top:18px;
    margin-bottom:11px;
    font-size: 14px;
    color: #000000;
}
.content-4{
    /*height:750px;*/
    padding:20px 34px 30px 26px;
    background: #FFFFFF;
    box-shadow: 0 2px 4px 0 rgba(222,222,222,0.50);
    margin-bottom:22px;
}
.content4-1{
    font-size: 13px;
    color: #4A4A4A;
}
.content4-2{
    margin-top: 33px;
    border-left: 1px solid #D8D8D8;
    position:relative;
    left: 75px;
}
.content4-3{
    position:relative;
    left: 75px;
}
.process-right{
    margin-left:22px;
    padding-bottom:30px;
    display: inline-block;
}
.processRight-1{
    margin-top: -8px;
    display: inline-block;
    margin-bottom: 5px;
}
.processRight-2{
    width:745px;
    height:72px;
    background: #F8F8F9;
    border: 1px solid #EAEAEA;
    border-radius: 0 8px 8px 8px;
}
.leftTop-border{
    background: url(../image/border.png) no-repeat 0 0; 
    width: 8px;
    height: 6px;
    margin-left: -6px;
    margin-top: -1px;
}
.processRight-21{
    margin-left: 18px;
    margin-top: 4px;
    margin-bottom: 11px;
    font-size: 12px;
    color: #4A4A4A;
}
.processRight-22{
    margin-left: 18px;
    font-size: 14px;
    color: #000000;
}
.processRight-211{
    margin-right:24px;
}
.processRight-212{
    margin-right:15px;
}
.processRight-11{
    margin-right:21px;
}
.processRight-12{
    margin-right:31px;
}
.processRight-13{
    margin-right:28px;
}
.process-left{
    position:absolute;
    left: -72px;
    top: -8px;
}
.process-spot{
    position:absolute;
    left: -6px;
    top: -1px;
}
.spot-1{
    background:url(../image/orangeSpot-11.png) no-repeat 0 0;
    width:11px;
    height:11px;
}
.spot-2{
    background:url(../image/graySpot-11.png) no-repeat 0 0;
    width:11px;
    height:11px;
}
.left-span-1{
    font-size: 14px;
    color: #F5A623;
}
.left-span-2{
    font-size: 14px;
    color: #000000;
}
.left-check-1{
    width: 14px;
    height: 14px;
}
.content4-1-1{
    font-size: 13px;
    color: #F5A623;
}
.content4-1-2{
    font-size: 13px;
    color: #000000;
    line-height: 18px;
}
.content4-5{
    margin-top:11px;
}
.table-border{
    border: 1px solid #EAEAEA;
}
.td-border td{
    border-top: 1px solid #EAEAEA;
}
.table-title th {
    background: #eef1f3;
}
td,th{
    text-align: center;
}
.form-checkbox__input{
    width:14px;
    height:14px;
}
.input-type{
    width:90px;
    height:30px;
    background: #FFFFFF;
    border: 1px solid #EAEAEA;
    text-indent: 1em;
}
.content4-6{
    margin-top:30px;
    margin-left:64px;
}
.content4-6 div span{
    display: inline-block;
    width:48px;
    height:17px;
    font-size: 12px;
    color: #000000;
}
.score{
    margin-bottom: 15px;
}
.score span{
    margin-right: 12px;
}
.score input{
    text-indent: 1em;
    background: #F8F8F9;
    border: 1px solid #EAEAEA;
    width:159px;
    height:30px;
}
.comment{
    margin-bottom: 13px;
}
.comment span{
    float:left;
    margin-right: 16px;
}
.comment textarea{
    text-indent: 1em;
    float:left;
    background: #F8F8F9;
    border: 1px solid #EAEAEA;
    width:459px;
    height:72px;
}
.content4-7{
    margin-left: 125.3px;
    margin-bottom:35px;
    font-size: 12px;
    color: #4A4A4A;
}
.message-input{
    margin-right:11.4px;
}
.message-span{
    margin-right:42.3px;
}
.note-input{
    margin-right:8.4px;
}
.content4-8{
    margin-left:133px;
}
.content4-8 .btn1{
    width:79px;
    height:35px;
    background: #377EE8;
    border:none;
    border-radius: 5px;
    font-size: 12px;
    color: #FFFFFF;
    letter-spacing: 0;
    margin-right: 22px;
}
.content4-8 .btn2{
    width:79px;
    height:35px;
    border: 1px solid #CDE0FF;
    border-radius: 5px;
    background: #fff;
    font-size: 12px;
    color: #3E7AC0;
    letter-spacing: 0;
    margin-right: 22px;
}
.content4-8 .btn3{
    width:79px;
    height:35px;
    border: 1px solid #CDE0FF;
    background: #fff;
    border-radius: 5px;
    font-size: 12px;
    color: #3E7AC0;
    letter-spacing: 0;
    margin-right: 15px;
}
.content4-8 .btn4{
    width:90px;
    height:35px;
    border: 1px solid #CDE0FF;
    background: #fff;
    border-radius: 5px;
    font-size: 12px;
    color: #3E7AC0;
    letter-spacing: 0;
}