{{#each document}}
    <div class="kc-list-item">
        <div class="kc-list-img">
            <img src="../../image/l4.jpg" alt="">
        </div>
        <div class="kc-list-text">
            <div><span class="list-title">{{knowledgeName}}</span></div>
            <div><span class="list-main">{{contents}}</span></div>
            <div class="list-main">
                <span>{{createTime}}</span>
                <span><i class="fa fa-star"></i> 26</span>
                <span><i class="fa fa-eye"></i> 166</span>
                <span><i class="fa fa-commenting"></i> 86</span>
            </div>
        </div>
    </div>
{{/each}}